body
{
    background-color: #eae0cc;
}

h1 
{
    font-family: 'Major Mono Display', monospace;
    font-size: 70px;
    color: #4d6a6d;
}

h2, p
{
    font-family: 'Courier New', Courier, monospace; 
    font-size: 15px;
    color: #798478;
}

img
{
    width: 400px;
}

.containerPadding
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10%;
}

.modal-window {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .modal-window>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background: #fff;
    color: #444;
  }
  
  .modal-window header {
    font-weight: bold;
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  
  .modal-close:hover {
    color: #000;
  }
  
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }

  a:link 
  {
    font-family: 'Courier New', Courier, monospace;
    color: #4d6a6d;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited 
  {
    font-family: 'Courier New', Courier, monospace;
    color: #4d6a6d;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover 
  {
    font-family: 'Courier New', Courier, monospace;
    color: #4d6a6d;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active 
  {
    font-family: 'Courier New', Courier, monospace;
    color: #4d6a6d;
    background-color: transparent;
    text-decoration: underline;
  }
  
.topRight
{
    position: absolute;
    top: 8px;
    right: 16px;
}

footer
{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /*right: 0;
    */

}

footer.sections h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*
@media (min-width:1000px) 
{
    .containerPadding
    {
        align-items: center;
        justify-content: space-between;
    }
}
*/