body
{
    background-color: #eae0cc;
}

h1 
{
    font-family: 'Major Mono Display', monospace;
    font-size: 70px;
    color: black;
}

h2 
{
    font-family: 'Libre Barcode 39 Extended Text', cursive;    
}

img
{
    width: 400px;
}

.containerPadding
{
    padding-top: 10%;
}

/*
@media (min-width:1000px) 
{
    .containerPadding
    {
        align-items: center;
        justify-content: space-between;
    }
}
*/